@use '../../variables/variables' as *;
@use '../../abstracts/mixins/mixins' as *;
@use '../../abstracts/functions/functions' as *;

.accordeon {
  border-radius: px-to-rem(8px);
  background-color: $color-white;
  &__title {
    @include reset-list;
    @include text-large;
    cursor: pointer;
    position: relative;

    &::marker {
      display: none;
    }

    &::after {
      content: '+';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid $color-black;
      border-radius: 50%;
      width: px-to-rem(15px);
      height: px-to-rem(15px);
      line-height: px-to-rem(15px);
      text-align: center;
      transition: transform 0.3s;
    }
  }

  &[open] {
    .accordeon__title {
      margin-bottom: px-to-rem(24px);
      &::after {
        content: '−';
      }
    }
  }

  &__text {
    @include reset-m-p;
    @include text-large;
    color: $color-gray-dark;
  }
}
